#calc{
    width: 80%;
    min-width: 400px;
    min-height: 400px;
}

#history-data{
    max-height: 400px;
    max-width: 120px;
    overflow: auto;
}

#results,#previous-entry{
    text-align: right;
   
}

#results{
    padding-right: 1.3em;
}
#previous-entry{
    padding-right: 1.8em;
}

/* maven-pro-regular - latin */
@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/maven-pro-v32-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  }

body .btn{
    width: 14vw;
    height: 14vw;
    max-width: 100px;
    max-height: 100px;
    border-radius: 0;
    border: 2.5px solid #1f1f1f;
    padding: 0;
    font-family: Maven Pro;
}


div{
    font-family: Maven Pro;
}

#display{
    background-color: #212529;
    color: white;
    border-bottom: #1f1f1f solid 12px;
}

.history-data-entry{
    background-color: #212529;
    color: white;
    padding-top: 1em;
}

#history{
    background-color: #212529;
    color: white;
}

#results{
    font-size: 1.4rem;
}

#previous-entry{
    font-size: 0.9rem;

}

@media only screen and (max-width: 720px) {
    #history, #history>* {
      max-width: 0;
      max-height: 0;
    }
  }